<% def cocktail_difficulty(cocktail_doses)
    if cocktail_doses >= 5
      return 'HARD'
    elsif cocktail_doses <= 2
      return 'EASY'
    else
      return 'MEDIUM'
    end
  end %>


<div class="col-xs-12 .offset-xs-2">
  <h1>Cocktail Recipes</h1>

  <div class="card-container">
      <div class="row">
        <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('https://randomactsofcomfort.net/wp-content/uploads/2018/03/Blood-Sand-040.jpg');">
        <div class="card-category"> <p> DIFFICULTY <%= cocktail_difficulty(cocktail.doses.count) %></p>
        </div>
      <div class="card-description">
        <h2> <i class="fas fa-cocktail"></i> <%= cocktail.name %> </h2>
        <%= link_to class: "cocktail" do %>
        <% end %>
      </div>
        <a class="card-link" href="http://localhost:3000/cocktails/<%= cocktail.id %>" ></a>
      </div>
    </div>
    <% end %>
    </div>
</div>
</div>

