<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/cocktails" class="navbar-wagon-brand">
    <%= image_tag("cock_logo.png", alt: "logo") %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="http://localhost:3000/cocktails/new" class="navbar-wagon-item navbar-wagon-link">Add A Cock...Tail</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag("cocktails-generic.png", alt: "cocktails", class: "avatar dropdown-toggle", id: "navbar-wagon-menu") %>
        </ul>
      </div>
    </div>
  </div>
</div>
