<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/cocktails" class="navbar-wagon-brand">
    <%= image_tag("logo-fin.png", alt: "logo") %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="http://localhost:3000/cocktails/new" class="navbar-wagon-item navbar-wagon-link">Add A Cocktail</a>
  </div>
</div>
