h1 {
  color: #F25757;
}

.add-back {
  text-align: center;
  align-items: center;
}

.add-back a {
  font-size: 24px;
  color: #F25757;
}

.add-back a:hover {
  font-size: 24px;
  color: #F2E863;
  font-style: underline;
}

